    body {
        background-color: black;
    }

    h1, h2 {
        color: lightblue;
        font-size: 50px;
        margin-left: 50px;
        padding: 10px;
        text-align: center;
    }

    p {
        color: lightskyblue;
        margin-left: 50px;
        padding: 10px;
        text-align: center;
    }
    
    li {
        color: aqua;
        text-align: center;
        font-size: large;
    }

    a {
        color: aqua;
    }

    .containers {
	   width:100%;
	   height:auto;
	   padding:10px;
	   margin-bottom:0px;
        text-align:center;
        color: lightblue;
    }

    #id4 {
        float:right;
        margin-right:0;
        display:inline;
        font-size: 30px
    }
    #id5 {
        margin: 0 auto;
        display:inline-block;
    }







